<div ng-app class="column is-4 is-offset-4">
    <h3 class="title">Login</h3>
    <div class="box">
        <div *ngIf='response["errMsg"] != undefined' class="alert alert-danger" role="alert">
            {{ response['errMsg'] }}
        </div>
        <div *ngIf='response["url"] != undefined' class="alert alert-success" role="alert">
            Success! You are currently being redirected. If you are not redirected automatically please click <a
                href='{{ response["url"] }}'>here.</a></div>
        <div class="notification is-danger">

        </div>
        <!--Requesting the hello-world flask app.-->

        <div class="form-group">
            <label for="email">Email</label>
            <input (change)="validateFields()" #email type="email" class="form-control" id="email" type="email"
                placeholder="Enter email" required>
        </div>
        <label for="password">Password</label>
        <div class="input-group mb-3">
            <input (change)="validateFields()" #password type=" password" class="form-control" id="password"
                placeholder="Password" required>
            <div class="input-group-append">
                <button (click)="changeInputType(password)" class="btn btn-outline-secondary" type="button"
                    style="color: #000">{{ showStatus }}</button>
            </div>
        </div>

        <div class="form-check">
            <input #rememberMe type="checkbox" class="form-check-input" id="rememberCheck">
            <label class="form-check-label" for="rememberCheck">Remember me</label>
        </div>

        <button #loginButton (click)="getLoginInfo({'email': email.value, 'password' : password.value, 'remember' :
            rememberMe.checked})" class="btn btn-success" style="margin-top: 0.5rem;" disabled>Login</button>
    </div>
</div>