{
  "root": true,
  "parser": "@typescript-eslint/parser", // we are changing default parser
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "./tsconfig.json" // path to tsconfig
  },

  "plugins": ["@typescript-eslint"],

  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "rules": {},
  "overrides": []
}
