<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Hello world</h1>
    <p class="lead">
      The <strong>Cambridge Carbon Map</strong> will bring together town and University
      organisations to create a public map of carbon emissions for the city of Cambridge, U.K. It
      will be accessible to anyone with a mobile phone and will allow you to compare carbon
      emissions for organisations with a simple tap on your mobile screen.
    </p>
  </div>
</div>
