html,
body {
  height: 100%;
}

/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap Yeti Theme - https://bootswatch.com/yeti/ */
@import './styles/bootstrap/bootstrap.min.css';

/* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';

@import '~leaflet/dist/leaflet.css';
